  
  .signup-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    
  }
  
  .signup-wrapper .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .signup-wrapper
  .input-box input {
    width: calc(100% - 40px);
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    
    color: rgba(0, 0, 0, 0.5);
  }
  
  .input-box input::placeholder {
    color: rgba(255, 255, 255, 0.5); 
  }
  
  .signup-wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px; 
    transition: all 0.3s ease;
  }
  .signup-wrapper button:hover{
    background: #f0f0f0;
    transform: translateY(-2px); 
    color: pink;
  }

  
  
  
  
  