
.user-profile-container, .bot-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    width: 350px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.user-profile-container .input-box,.bot-profile-container .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    width: 275px;
}

.input-box label {
    color: #fff;
    margin-bottom: 5px;
}

.input-box input, .input-box select {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.input-box select option{
    color: black;
}

/* UserProfilePage.css */

.bot-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    width: 350px;
}
.bot-profile-container .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    width: 275px;
}
.image-upload {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.image-preview-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    background-color: #f3f3f3;
}

.image-preview-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview-circle span {
    color: #aaa;
    font-size: 14px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
}


.edit-icon {
    position: absolute;
    /* bottom: 10px; */
    /* right: 10px; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 5px;
}


.input-box input,
.input-box select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.input-box input, .input-box select {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.input-box select option{
    color: black;
}


button {
    padding: 10px 20px;
    border: none;
    background-color:transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #f0f0f0;
    transform: translateY(-2px); 
    color: pink;
}

@media (max-width: 600px) {
    .input-box {
        width: 100%;
    }
}











